@keyframes slide-fade-in {
  from {
    opacity: 0;
    box-shadow: none;
    transform: scale(.8) translateY(15vh);
  }
}

@media (prefers-reduced-motion: no-preference) {
  @supports (animation-timeline: view()) {
    .slide-fade-in {
      animation: slide-fade-in both;
      animation-timeline: view();
      animation-range: cover 0% cover 20%;
    }
  }
}
